<section class="music-controls-wrap">
  <div class="playaudio-button" aria-label="A button to play the game music."></div>
  <div class="pauseaudio-button" aria-label="A button to pause the game music."></div>
</section>