<% content_for :head do %>
  <%= stylesheet_link_tag "welcome", "data-turbo-track": "reload" %>
<% end %>

<div class="background">
  <div class="welcomewrap">
    <div class="initial-title" aria-label="A title graphic reading 'serpens.js'"></div>
    <div class="welcomebox" aria-label="A graphic to welcome the player. It also acts as a button to start the game.">
      <h2 id="welcome-message">
        Bzzzz..
        <br>Click me to get going, then press arrow keys to move.
        <br>Bzz..
      </h2>
</div>